.container {
  /* required for scrolling */
  white-space: nowrap;
  overflow: hidden;

  height: 48px;
  line-height: 48px;
  background-color: #1da1f2;
  color: #f5f8fa;
  font-family: sans-serif;
}

.content {
  display: inline-flex;
  height: 100%;
  padding: 0 0.5em;
}

.tweet-text {
  font-size: 2rem;
}

.tweet-username {
  font-size: 1.5rem;
  margin-left: 0.5em;
}

.tweet-username:before {
  content: "(@";
}

.tweet-username:after {
  content: ")";
}
